/* heightが1秒かけて0px -> 50pxに変化する */
.item {
	animation: resize 1s ease;
	animation-fill-mode: both;
	overflow: hidden;
	border: solid 1px #aaa;
	width: 100px;
	margin-bottom: 3px;
	line-height: 50px;
	text-align: center;
}

@keyframes resize {
	0% {
		height: 0px;
	}
	100% {
		height: 50px;
	}
}